################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SymulowaneWyzarzanie/obj
/SymulowaneWyzarzanie/bin/Debug/netcoreapp3.1
/Schedule/bin/Debug/net6.0
/Schedule/obj
/InferNet1/bin/Debug/net6.0
/InferNet1/obj
/Matches/obj
/Matches/bin/Debug/netcoreapp3.1
/Matches/.vs
